#container {
    width: 500px;
    height: 500px;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background: blue;
    color: black;
    font-size: 20px;
    position: absolute;
    padding: 5px;
    transform: translateX(0) rotate(0deg);
}

.ex01 .box {
    left: 10px;
    top: 10px;
}

.ex02 .box {
    left: 10px;
    top: 130px;
}

.ex03 .box {
    left: 10px;
    top: 250px;
}

.ex04 .box {
    left: 10px;
    top: 370px;
}


@keyframes finalCommon {
    to {
        transform: translateX(400px) rotate(270deg);
        width: 50px;
        height: 50px;
        background: red;
        color: yellow;
        font-size: 18px;
    }
}

/* Intercambios (b) */
@keyframes swap1 {
    to {
        top: 130px;
    }
}

/* 1 -> posici贸n de 2 */
@keyframes swap2 {
    to {
        top: 10px;
    }
}

/* 2 -> posici贸n de 1 */
@keyframes swap3 {
    to {
        top: 370px;
    }
}

/* 3 -> posici贸n de 4 */
@keyframes swap4 {
    to {
        top: 250px;
    }
}

/* 4 -> posici贸n de 3 */

/* (h) Duraciones y timing distintos en cada caja */
.ex01 .box {
    animation: finalCommon .6s ease-in .15s forwards, swap1 .6s ease-in .15s forwards;
}

.ex02 .box {
    animation: finalCommon .9s linear .15s forwards, swap2 .9s linear .15s forwards;
}

.ex03 .box {
    animation: finalCommon 1.2s ease-out .15s forwards, swap3 1.2s ease-out .15s forwards;
}

.ex04 .box {
    animation: finalCommon 1.5s cubic-bezier(.17, .67, .83, .67) .15s forwards,
        swap4 1.5s cubic-bezier(.17, .67, .83, .67) .15s forwards;
}