#container>div {
    margin-bottom: 10px;
    border: 1px dotted #000;
    width: 250px;
}

.box {
    width: 200px;
    height: 100px;
    border: 5px solid gray;
    background-color: silver;
}

/* a) Translate */
#ex01 .box:nth-child(2) {
    transform: translate(100px, 50px);
}

/* b) Scale */
#ex02 .box:nth-child(2) {
    transform: scale(2);
}

/* c) Rotate */

#ex03 .box:nth-child(2) {
    transform: rotate(45deg);
}

#ex03 .box:nth-child(3) {
    transform-origin: top left;
    transform: rotate(45deg);
}


/* d) Skew → Paralelogramo 25º */

#ex04 .box:nth-child(2) {
    transform: skew(25deg);
}